body {
    background: black;
    color: whitesmoke;
}

.vermeio {
    border-radius: 15px;
    height: 30px;
    width: 100px;
    font-size: 10pt;
    color: white;
    background: red;
}

.preto {
    border-radius: 15px;
    height: 30px;
    width: 100px;
    font-size: 10pt;
    color: white;
    background: black;
}

.pretomaior {
    border-radius: 15px;
    height: 30px;
    width: 180px;
    font-size: 10pt;
    color: white;
    background: black;
}

.vermeiomaior {
    border-radius: 15px;
    height: 30px;
    width: 180px;
    font-size: 10pt;
    color: white;
    background: red;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 34, 34);
    color: white;
}

header {
    position: fixed;
    display: inline-flex;
    width: 100%;
    left: 0;
    top: 0;
    gap: 24%;
    margin: solid 1px white;
    background-color: rgb(34, 34, 34);
}

main {
    margin-top: 80px;
    margin-left: 10px;
}

.topo {
    height: 30%;
    width: 100%;
}

.esquerda {
    height: 70%;
    width: 30%;
}

.direita {
    height: 70%;
    width: 70%;
}

header>div>div>div>p {
    font-size: 14pt;
}

header>img {
    margin-top: 5px;
}

#botoes {
    margin-top: 1%;
}

#primordial {
    margin-left: 1%;
}

#pip {
    margin-left: 50px;
}

#promo {
    position: fixed;
    background-image: url(https://static.vecteezy.com/system/resources/previews/015/840/127/non_2x/luxurious-colorful-liquid-marble-surface-background-dark-red-color-beautiful-fluid-abstract-marble-oil-paint-background-illustration-free-vector.jpg);
    border-radius: 10px;
    width: 1000px;
    height: 400px;
}

.margin {
    margin: 0;
    margin-left: 20px;
}

#cad {
    margin-left: 20px;
}

#titulo {
    margin-top: 10px;
}

#bonus {
    margin-top: 30px;
    margin-left: 110px;
}

.cabeca {
    margin-top: 20px;
}

.pai {
    display: flex;
}

.pai>div>div>input {
    display: block;
    margin-bottom: 10px;
}